body{
    background-image: url(background.jpg);
    background-size: cover;
}
.container{
    background:rgba(0,0,0,0.5);
    width:850px;
    margin:auto;
    height: 600px;
    border:50px solid transparent;
    border-radius: 10px 10px 10px 10px;
    box-sizing: border-box;
}
.logo{
    width: 180px;
    height: 80px;
    display: block;
    margin:0 auto;
}
header h2{
    text-align: center;
    color:lime;
}
.menu{
    width:700px;
    height: 30px;
    background-color:lime;
    margin:auto;
    padding:5px;
    text-align: center;
    box-sizing: border-box;
    
}


div button{
    font-size:10px;
}
section span{
    font-size: 20px;
}
section{
    line-height: 0px;
    color:white;
    border: 10px solid transparent;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.arrow::before{
    content: "\21A6";
}
.load1{
    width: 250px;
    height: 20px;
    background-color:lightsalmon;
    border-radius: 7px 7px 7px 7px;
}
.load2{
    width: 450px;
    height: 20px;
    background-color:green;
    border-radius: 7px 7px 7px 7px;
}
.load3{
    width: 100px;
    height: 20px;
    background-color:crimson;
    border-radius: 7px 7px 7px 7px;
} 

